.conceal{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100px);
  transition: all 0.8s;
}
.conceal-reverse {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100px);
  transition: all 0.8s;
  margin-right: -100px; /* Add a negative margin to compensate for the translation */
}
.show{
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}